body {
  font-family: "Roboto", sans-serif;
  color: #564e56;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.float {
  float: left;

  &-medium {
    float: none;

    @mixin atMedium {
      float: left;
    }
  }
}