.gallery-thumbnails {
    position: relative;

    &__button-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;

        left: 4px;

        @mixin atLarge {
            left: 23px;
        }

        & img {
            &:hover {
                transition: all .5s ease-out;
                transform: scale(1.1);
            }
        }
    }

    &__button-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        right: 0;


        & img {
            &:hover {
                transition: all .5s ease-out;
                transform: scale(1.1);
            }
        }
    }



    &__container_outer {
        float: left;
    }

    &__container {
        box-sizing: border-box;
        width: 300px;
        height: 350px;
        border: 1px solid darkgray;
        margin: 0 auto;

    }

    &__title {
        font-size: 4em;
        margin: 0.67em 0;
        text-align: center;
        color: #292828;
        font-weight: 300;
    }

    &__subtitle {
        box-sizing: border-box;
        clear: both;
        text-align: center;
        padding: 16px;
        color: darkgray;
    }
}

.background1 {
    box-sizing: border-box;
    width: 198px;
    height: 302px;
    background: url("/assets/images/mirror.jpg") center center;
    background-size: cover;
    float: left;
    margin-right: 2px;

}

.background2 {
    box-sizing: border-box;
    width: 98px;
    height: 150px;
    background: url("/assets/images/mirror.jpg") center center;
    background-size: cover;
    float: left;
    margin-bottom: 2px;
}

.background3 {
    box-sizing: border-box;
    width: 98px;
    height: 150px;
    background: url("/assets/images/mirror.jpg") center center;
    background-size: cover;
    margin-bottom: 2px;
    float: left;
}