.mini-gallery {
  position: relative;
  text-align: center;

  &__button {
    position: absolute;
    text-decoration: none;
    background-color: rgba(0, 176, 240, 0.75);
    color: #fff;
    padding: 5% 8%;
    display: inline-block;
    border-radius: 8px;
    left: 50%;
    top: 50%;
    font-size: 1.2rem;
    text-align: center;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
    z-index: 1;

    &:hover {
      background-color: rgba(0, 176, 240, 0.95);
    }
  }


}

.responsive {

  display: block;
}