.parralax-section {
    &__img {
        position: relative;
        overflow: hidden;
    }

    & img {
        width: 100%;
        display: block;

    }

    &__title {
        position: absolute;
        color: #fff;
        font-family: 'Cinzel', serif;
        font-weight: 700;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        top: 30%;
        padding: 0 0;
        font-size: 3rem;

        @mixin atMedium {
            padding: 0 3%;
            font-size: 4.3rem;
        }

        @mixin atLarge {
            top: 40%;
            padding: 0 10%;
            font-size: 4.3rem;
        }
    }

    &__bg-1 {

        @mixin atMedium {
            background: #fff url("/assets/images/jackhammer-990.jpg") no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 632px;
            position: relative;
            overflow: hidden;
        }

        @mixin atLarge {
            background: #fff url("/assets/images/jackhammer-1380.jpg") no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 632px;
            position: relative;
            overflow: hidden;
        }

        @mixin atXLarge {
            background: #fff url("/assets/images/jackhammer-1920.jpg") no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 632px;
            position: relative;
            overflow: hidden;
        }

        background: #fff url("/assets/images/jackhammer-640.jpg") no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 632px;
        position: relative;
        overflow: hidden;


    }

    &__bg-2 {
        background: #fff url("/assets/images/worker-jump-1380.jpg") no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 632px;
        position: relative;
        overflow: hidden;
    }

}