.top-footer {
  &__currentDate {
    display: none;
    @mixin atMedium {
      display: block;
    }
  }
  &__socials {
    float: left;
    margin-top: 10px;

    @mixin atMedium {
      margin-top: 0;
      float: right;
    }

    &__icons {
      float: left;
      margin-top: 20px;

      @mixin atSmall {
        margin-top: 0;
      }

      &--facebook {
        width: 1.8rem;
        margin: -8px 5px;
        height: 1.7rem;
      }

      &--envelope {
        margin: -11px 5px;
      }

      &--telephone {
        margin: -11px 5px;
      }
    }
  }

  & a {
    text-decoration: none;
    color: #333333;
  }
}
